{% from "macros/sections.html" import render_sidebar %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ '/static/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/bootstrap/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/font-awesome-4.7.0/css/font-awesome.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/aos/dist/aos.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/slick/slick.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/slick/slick-theme.css' | url }}">

    <link rel="icon" type="image/png" href="{{ '/imgs/educode_logo_mono/monochrome/svg/cercle_uniquement.svg' | url }}"/>

    <title>{% block title %}Welcome{% endblock %} — EduCode</title>
</head>
<body>
<div class="container-fluid">

    <div class="row wrapper">

        <main class="col col-sm-8 col-md-9 col-lg-10 float-center main mx-auto p-0">

            <div id="content-wrapper">
                {% block baseline %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </main>
    </div>
</div>

<script src="{{ '/plugins/jquery.min.js' | url }}"></script>
<script src="{{ '/plugins/bootstrap/bootstrap.min.js' | url }}"></script>
<script src="{{ '/plugins/aos/dist/aos.js' | url }}"></script>
<script src="{{ '/plugins/slick/slick.min.js' | url }}"></script>

<script>
    $(function () {
        $(document).on("scroll", onScroll);

        {% if this == site.get_root() %}
            window.history.pushState("object or string", "Welcome - EduCode", "{{ this.path | url(alt=alt) }}");
        {% endif %}

        var $root = $('html, body');
        var $document = $(document);
        var $links = $('a[href^="#anchor"]');

        $document.on('click', 'a[href^="#anchor"]', function (e) {
            e.preventDefault();
            $document.off("scroll");
            $links.removeClass("selected");
            $(this).addClass("selected");

            var target = this.hash;
            var menu = target;
            var $target = $(target);

            $root.stop().animate({
                scrollTop: $($.attr(this, 'href')).offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $document.on("scroll", onScroll);
            });

            return false;
        });

        $(window).resize( function (event) {
            console.log(getBootstrapBreakpoint());
        });

        function onScroll(event) {
            let scrollPos = $document.scrollTop();
            $links.each(function () {
                let currLink = $(this);
                let refElement = $(currLink.attr("href"));
                if (refElement.length > 0) {
                    if (refElement.position().top <= scrollPos
                        && refElement.position().top + refElement.height() > scrollPos)
                    {
                        $links.removeClass("selected");
                        currLink.addClass("selected");
                    }
                    else {
                        currLink.removeClass("selected");
                    }
                }
            });
        }

    });

    function getBootstrapBreakpoint() {
        var w = $(document).innerWidth();
        return (w < 575.98) ? 'xs' : ((w < 767.98) ? 'sm' : ((w < 991.98) ? 'md' : 'lg'));
    }

</script>

{% block javascript %}{% endblock %}

</body>
</html>

