{% extends "layout.html" %}

{% block baseline %}
<div class="container overlay">
    <img data-aos="zoom-in" data-aos-delay="100" src="{{ '/imgs/educode_logo_mono/monochrome/svg/complet.svg' | url }}"
        alt="">
    <br>
    <br>
    <h1 data-aos="fade-down" data-aos-delay="500" class="color-dark">{{ this.title }}</h1>

    <p data-aos="zoom-in" data-aos-delay="400" class="baseline color-darker-yellow">
        <strong>{{ this.baseline }}</strong></p>
    <hr>
</div>
{% endblock %}

{% block content %}
<div id="landing-page-content" class="container-fluid description">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title title-left">À propos d'<strong>Educode</strong></h4>
                <div class="about">
                    {{ this.about }}
                </div>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div id="anchor-speakers" class="col-12">
                <h4 class="title title-left"><i class="fa fa-users" aria-hidden="true"></i>Les intervenants
                </h4>
            </div>

            <!-- On récupère tous les intervenants -->
            {% set speakers = site.query('/intervenants').include_hidden(false) %}
            {% if speakers %}
            {% for speaker in speakers.order_by("name") %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-3 speaker" data-aos="fade-down-right" data-aos-delay="300">
                {% set pictures = speaker.attachments %}
                <div class="text-center speaker-picture-container"
                    onclick="location.href = '{{ speaker.url_path | url }}';">
                    <div class="speaker-picture" {% if pictures %} {% set profile_picture = pictures | first %}
                        style="background-image: url('{{ profile_picture | url }}');">
                        {% else %}
                        style="background-image: url('{{ "/imgs/user.png" | url }}');">
                        {% endif %}
                    </div>
                </div>
                <h4 class="speaker-name text-center">
                    <a href="{{ speaker.url_path | url }}">
                        {{ speaker.title }}
                    </a>
                </h4>
            </div>
            {% endfor %}
            {% endif %}


            <div class="col-12">
                <hr>
            </div>

            <div class="col-12">
                <h4 class="title title-left">Formulaire de participation</h4>
                <div class="about">
                    {{ this.formulaire }}
                    <iframe src="https://framaforms.org/participer-a-educode-2020-1585904428" width="100%" height="600"
                        border="0"></iframe>
                </div>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-12">
                <h4 class="title title-left">Wiki</h4>
                <div class="about">
                    {{ this.wiki }}
                </div>
            </div>
        </div>
    </div>

    <br>

</div>
{% endblock %}



{% block javascript %}
<script>
    AOS.init();

    $('#slideshow-partners').slick({
        dots: true,
        infinite: true,
        speed: 1500,
        autoplaySpeed: 300,
        autoplay: true,
        slidesToShow: 6,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
{% endblock %}