{% extends "layout.html" %}

{% block content %}
    <div style="background: url('{{ "/imgs/concert/cellule133.jpg" | url }}') no-repeat center center; background-size: cover;">
        <div id="wrapper" class="container-fluid" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); box-shadow:0 12px 35px 0 #1f1e1e inset">
            <main id="concert" class="container">
                <div class="row">
                    <div class="col-12">
						<div class="text-center animated zoomIn">
                            
                        </div>
                        <h1 class="h1 text-center animated zoomIn" data-aos-delay=".3s">{{ _("Concert festif exceptionnel") }}</h1>
                        <p class="text-center">
                            {{ _("A la Cellule 133a, situé")}} <a href="https://osm.org/go/0EoSP1HpH--?m=">{{_("133a avenue Ducpétiaux")}}</a>, {{_("1060 Saint-Gilles.") }} 
                            <br> 
                            {{_("Vendredi 27 septembre 2019 à 20h.") }}
                        </p>
                        <hr>
						
						<!-- Concert -->
						<h2 class="text-center">{{ _("Le carnaval des animaux") }}</h2>
						<p class="h6 text-center">{{ _("de") }} <a href="#">Camille Saint-Saëns</a></p>
						<br/>
                        <h4 class="h4 text-center">{{ _("Avec") }}</h4>
                        <div class="text-center">
                            <p>&#x2619; <a href="#">Lucie Gérard</a>, {{ _("flûte") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Stéphane Vandesande</a>, {{ _("clarinette") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Muriel Ruben</a>, {{ _("violon") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Guillaume Tillema</a>, {{ _("violon") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Sophie Ackermann</a>, {{ _("alto") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Nicolas Deletaille</a>, {{ _("violoncelle") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Clément Meulemans</a>, {{ _("contrebasse") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Laurent Beeckmans</a>, {{ _("piano") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Pieter Dhoore</a>, {{ _("piano") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Olivier Tillema</a>, {{ _("percussion") }} <span class="flipped">&#x2619;</span></p>
                            <p>&#x2619; <a href="#">Joëlle Denys</a>, {{ _("conteuse") }} <span class="flipped">&#x2619;</span></p>
                        </div>
						
                    </div>
                </div>
				
				<hr>

                <div class="row">
                    <div class="col-12">
                        {{ this.description }}
                    </div>
                </div>
				
				<br>
            </main>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(function () {
            setTimeout(function () {
                console.log("timed out");
                $("audio[autoplay]").each(function(){ this.play(); });
            }, 300);
        });
    </script>
{% endblock %}
