{% extends "layout.html" %}

{% block content %}
    <main id="page-workshops" class="container">
        <h1 class="title mb-5 text-center color-darker-yellow"><strong>{{ this.title }}</strong></h1>
        <div class="row">
            <div class="col-12 col-sm-2">
                <p><strong>Atelier</strong></p>
                <p>
                    {{ this.title }}
                    <br>
                    <strong>{% for tag in this.tag %}{{tag}} {% endfor %}</strong>
                </p>
            </div>

            <div class="col-12 col-sm-10 border-dark">
                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Titre</span>
                    </strong>
                    <br>
                    {{ this.title }}
                    <hr>
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Titulaire : </span>
                    </strong>
                    {{ this.contact_name }}
                    <hr>
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Public : </span>
                    </strong>
                    {% for tag in this.tag %} {{tag}} {% endfor %}
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Classe d'âge : </span>
                    </strong>
                    {{ this.age }}
                    <hr>
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Périodes : </span>
                    </strong>
                    <ul>
                    {% for periode in this.hours %} 
                        <li>{{periode}}</li>
                    {% endfor %}
                    </ul>
                    <hr>
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Langues : </span>
                    </strong>
                    {{ this.language }}
                    <hr>
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-bullhorn"></i> Nombres d'apprenants : </span>
                    </strong>
                    {{ this.number }}
                    <hr>
                </div>

                <div class="police-normal">
                    <strong>
                        <span class="text-dark"><i class="fa fa-align-justify"></i> Description</span>
                    </strong>

                    <br>
                    {{ this.description }}
                </div>
                <hr>
                <p class="text-center">
                    <a class="btn btn-warning mb-1" href="{{ '/ateliers' | url }}">
                        <i class="fa fa-calendar-minus-o"></i> Retour aux ateliers
                    </a>
                    <a class="btn btn-warning mb-1" href="{{ '/' | url }}">
                        <i class="fa fa-home"></i> Retour à l'accueil
                    </a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

