{% extends 'layout.html' %}

{% block content %}
    <main id="workshop-containers-page" class="police-normal">
        <div class="container">
            <div class="row">
                <h1 class="col-12 title mt-5 mb-5 text-center color-darker-yellow">
                    <strong>{{_("Présentation des ateliers")}}</strong>
                </h1>
                <div class="col-12">
                    {{ this.description }}
                </div>
            </div>
            {% set workshops = site.query('/ateliers').include_hidden(false).order_by('hours').all() %}

            <form class="p-3" style="background-color: #e1b12c42">
                <div class="form-row">
                    <h5 class="col-12">{{_("Rechercher parmi les ateliers")}}</h5>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="select-filter-category"><i class="fa fa-tag"></i> {{_("Afficher que la catégorie")}}</label>
                        <select name="filter-category" id="select-filter-category" class="custom-select form-control">
                            <option value="tous" selected>{{_("Toutes les catégories")}}</option>
                            <option value="maternelle">{{_("Maternelle")}}</option>
                            <option value="primaire">{{_("Primaire")}}</option>
                            <option value="secondaire">{{_("Secondaire")}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="d-inline-block w-100"><i class="fa fa-child"></i> {{_("Tranche d'âge")}}</label>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="number" min="1" max="120" class="form-control" id="input-min-age" placeholder="âge minimum">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" min="1" max="120" class="form-control" id="input-max-age" placeholder="âge maximum">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="select-filter-hours"><i class="fa fa-clock-o"></i> {{_("A une certaine heure")}}</label>
                        <select name="filter-hours" id="select-filter-hours" class="custom-select form-control">
                            <option value="all" selected>{{_("Toutes les heures")}}</option>
                            <option value="9:00">9:00 - 10:00</option>
                            <option value="10:00">10:00 - 11:00</option>
                            <option value="11:00">11:00 - 12:00</option>
                            <option value="14:00">14:00 - 15:00</option>
                            <option value="15:00">15:00 - 16:00</option>
                            <option value="16:00">16:00 - 17:00</option>
                        </select>
                    </div>
                    <p class="col-12 text-center">
                            <button id="reset-filters" class="btn btn-warning"><i class="fa fa-undo"></i> {{_("Réinitialiser les filtres")}}</button>
                    </p>
                </div>
            </form>

            <hr/>

            <div class="row">
                {% for workshop in workshops %}
                    <div class="col-12 col-md-4 mb-1 p-1 police-normal">
                        <div class="card"
                             data-category="{% for tag in workshop.tag %}{{tag}} {% endfor %}"
                             data-age-min="{{ workshop.age_min }}"
                             data-age-max="{{ workshop.age_max }}"
                             data-hours="{% for hour in workshop.hours %}{{hour}} {% endfor %}">
                            <div class="card-body" style="min-height: 375px;">
                                <div class="d-flex" style="min-height: 50px;">
                                    <h5 class="card-title text-center m-auto">
                                        <a class="color-darker-yellow" href="{{ workshop.url_path }}">{{ workshop.title }}</a>
                                    </h5>
                                </div>
                                
                                <hr>
                                <div class="card-text">
                                    <strong>{{_("Résumé")}}</strong><br>
                                    {{ workshop.abstract }}
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <p class="mb-0">{{_("Au local")}} {{workshop.local}} {{_("à :")}}</p>
                                <ul style="min-height: 50px;">
                                    {% for periode in workshop.hours %} 
                                        <li>{{periode}}</li>
                                    {% endfor %}
                                </ul>
                                <hr>
                                <p class="text-right"><i class="fa fa-tag"></i> {% for tag in workshop.tag %} {{tag}} {% endfor %}</p>
                                <hr>
                                <a href="{{ workshop.url_path }}" class="btn btn-sm btn-primary btn-block color-dark">
                                    {{_("En savoir plus")}}
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script>

        $(function () {
            let constraints = {
                category: null,
                ageMin:   null,
                ageMax:   null,
                language: null,
                location: null,
                hours:    null,
            };

            let cards = $('#workshop-containers-page .card');
            let filterByCategory = $('#select-filter-category');
            let btnResetFilters = $("#reset-filters");
            let inputAgeMin = $("#input-min-age");
            let inputAgeMax = $("#input-max-age");
            let filterByHours = $('#select-filter-hours');
            let filterWorkshops = function () {
                cards.parent().removeClass('d-none');

                // category
                if (constraints.category != null) {
                    if (constraints.category !== "tous") {
                        cards.filter(function() {
                            return !($(this).attr("data-category").includes(constraints.category + ' '));
                        }).parent().addClass('d-none');
                    }
                }

                // ageMin
                if (constraints.ageMin != null) {
                    cards.filter(function() {
                      return $(this).attr("data-age-min") < constraints.ageMin;
                    }).parent().addClass('d-none');
                }

                // ageMax
                if (constraints.ageMax != null) {
                    cards.filter(function() {
                      return $(this).attr("data-age-max") > constraints.ageMax;
                    }).parent().addClass('d-none');
                }

                // hours
                if (constraints.hours != null) {
                    if (constraints.hours !== "all") {
                        cards.filter(function() {
                            return !($(this).attr("data-hours").includes(constraints.hours + " -"));
                        }).parent().addClass('d-none');
                    }
                }
            };

            inputAgeMin.on('keyup mouseup change', function (e) {
                e.preventDefault();
                let x = parseInt($(this).val(), 10);
                constraints.ageMin = isNaN(x) ? null : x;
                filterWorkshops();
            });

            inputAgeMax.on('keyup mouseup change', function (e) {
                e.preventDefault();
                let x = parseInt($(this).val(), 10);
                constraints.ageMax = isNaN(x) ? null : x;
                filterWorkshops();
            });

            filterByCategory.on('change', function (e) {
                e.preventDefault();
                constraints.category = $(this).val();
                filterWorkshops();
            });

            filterByHours.on('change', function (e) {
                e.preventDefault();
                constraints.hours = $(this).val();
                filterWorkshops();
            });

            btnResetFilters.on("click", function () {
                constraints = {
                    category: null,
                    ageMin:   null,
                    ageMax:   null,
                    language: null,
                    location: null,
                    hours:    null,
                };
            });


        });
    </script>
{% endblock %}